<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your result:-</title>
  <link rel="stylesheet" href="finalPage.css">
</head>
<body>
  <div class="container">
    <div class="child" id="child1">
      <div class="child1_item" id="child1_item1">
        <img src="../assest/assest_04.svg" alt="">
      </div>
      <div class="child1_item" id="child1_item2">
        <div class="item2_child" id="item2_child1">
          <h1>Welcome <span class="userId"></span></h1>
        </div>
        <div class="item2_child" id="item2_child2">
          <h3>Thank You for Being Part of us.</h3>
          <p>Your support means a lot, and together we’re making great things happen. We’re glad to have you on this journey!</p>
        </div>
      </div>
    </div>
    <div class="child" id="child2">
      <div class="child2_item" id="child2_item1">
        <div class="item_child" id="item_child1">
          <img src="../assest/assest_01.svg" alt="">
        </div>
      </div>
      <div class="child2_item" id="child2_item2">
        <div class="item_child" id="item_child1">
          <img src="../assest/assest_05.svg" alt="">
        </div>
      </div>
    </div>
    <div class="child displayNone" id="child3">
      <div class="child3_item" id="child3_item1">
        <table>
          <tr>
            <th>User Id:</th>
            <td class="userId">Mahavir kumar mahato</td>
          </tr>
          <tr>
            <th>Name:</th>
            <td class="userName">Mahavir kumar mahato</td>
          </tr>
          <tr>
            <th>Contact:</th>
            <td class="userContact">Mahavir kumar mahato</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td class="userEmail">Mahavir kumar mahato</td>
          </tr>
          <tr>
            <th>Terms and Conditions:</th>
            <td><input type="checkbox" name="checkbox" id="checkbox" value="yes"> Agree</td>
          </tr>
        </table>
        <div class="item_element">
          <img src="../assest/assest_04.svg" alt="">
        </div>
      </div>
      <div class="child3_item" id="child3_item2">
        <h2>Feedback & Comments</h2>
        <form action="#">
          <div id="element_child3">
            <span id="comments"><label for="feedback">Comments: </label></span>
            <span><textarea name="feedback" id="feedback" placeholder="Feel free and say anything....."></textarea></span>
          </div>
          <div id="submit_btn">
            <span ><button type="submit">Submit</button>
            <p>Comments and feedback are end-to-end encrypted.</p>
            </span>
          </div>
          <div>
            <h5>Note: All information is private. Please keep it secure and do not share it without permission. If you have any questions, please fill out the comments and feedback form. Your cooperation is appreciated in maintaining privacy and security. <br>Thank you, <span>Managed by Mveer745.</span></h5>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
  <script src="finalPage.js"></script>
</html>